<?xml version="1.0"?>
<config>
    <modules>
        <Alw_Suppliers>
            <version>0.1.4</version>
        </Alw_Suppliers>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Alw_Suppliers before="Mage_Adminhtml">Alw_Suppliers_Adminhtml</Alw_Suppliers>
                    </modules>
                </args>
            </adminhtml>
            <suppliers>
                <use>admin</use>
                <args>
                    <module>Alw_Suppliers</module>
                    <frontName>suppliers</frontName>
                </args>
            </suppliers>
        </routers>
    </admin>
    <frontend>
        <routers>
            <suppliers>
                <use>standard</use>
                <args>
                    <module>Alw_Suppliers</module>
                    <frontName>suppliers</frontName>
                </args>
            </suppliers>
        </routers>
        <layout>
            <updates>
                <suppliers>
                    <file>suppliers.xml</file>
                </suppliers>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <menu>
            <suppliers module="suppliers">
                <title>Suppliers</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="suppliers">
                        <title>Manage Suppliers</title>
                        <sort_order>0</sort_order>
                        <action>suppliers/adminhtml_suppliers</action>
                    </items>
                    <pendingsuppliers module="suppliers">
                        <title>New Suppliers</title>
                        <sort_order>0</sort_order>
                        <action>suppliers/adminhtml_suppliers/newsuppliers</action>
                    </pendingsuppliers>
                </children>
            </suppliers>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Alw_Suppliers>
                            <title>Supplier Module</title>
                            <sort_order>10</sort_order>
                        </Alw_Suppliers>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <suppliers>
                    <file>suppliers.xml</file>
                </suppliers>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <suppliers>
                <class>Alw_Suppliers_Model</class>
                <resourceModel>suppliers_mysql4</resourceModel>
                <resourceModel>suppliers_resource</resourceModel>
            </suppliers>			
            <suppliers_resource>
				<class>Alw_Suppliers_Model_Resource</class>
				<deprecatedNode>suppliers_mysql4</deprecatedNode>
				<entities>
					<review>
                        <table>supplier_review_detail</table>
                    </review>
                    <review_aggregate>
                        <table>supplier_review_entity_summary</table>
                    </review_aggregate>
					<rating>
                        <table>supplier_rating_option_vote</table>
                    </rating>
					<supplierorderstatus>
						<table>supplier_order_status</table>
					</supplierorderstatus>
				</entities>
            </suppliers_resource>
			<sales>
				<rewrite>
					<order>Alw_Suppliers_Model_Order</order>
					<order_invoice>Alw_Suppliers_Model_Order_Invoice</order_invoice>
					<order_shipment>Alw_Suppliers_Model_Order_Shipment</order_shipment>
					<order_creditmemo>Alw_Suppliers_Model_Order_Creditmemo</order_creditmemo>
					<quote_address>Alw_Suppliers_Model_Quote_Address</quote_address>
					<order_pdf_invoice>Alw_Suppliers_Model_Sales_Order_Pdf_Invoice</order_pdf_invoice>
					<order_pdf_shipment>Alw_Suppliers_Model_Sales_Order_Pdf_Shipment</order_pdf_shipment>
					<order_pdf_creditmemo>Alw_Suppliers_Model_Sales_Order_Pdf_Creditmemo</order_pdf_creditmemo>
				</rewrite>
			</sales>	
			<shipping>
				<rewrite>
					<shipping>Alw_Suppliers_Model_Shipping_Shipping</shipping>
				</rewrite>
			</shipping>
			<tax>
				<rewrite>
					<sales_pdf_grandtotal>Alw_Suppliers_Model_Tax_Sales_Pdf_Grandtotal</sales_pdf_grandtotal>
					<sales_pdf_shipping>Alw_Suppliers_Model_Tax_Sales_Pdf_Shipping</sales_pdf_shipping>
					<sales_pdf_subtotal>Alw_Suppliers_Model_Tax_Sales_Pdf_Subtotal</sales_pdf_subtotal>
				</rewrite>
			</tax>
        </models>
        <resources>
            <suppliers_setup>
                <setup>
                    <module>Alw_Suppliers</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </suppliers_setup>
            <suppliers_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </suppliers_write>
            <suppliers_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </suppliers_read>
        </resources>
        <blocks>
            <suppliers>
                <class>Alw_Suppliers_Block</class>
            </suppliers>
            <catalog>
                <rewrite>
                    <layer_view>Alw_Suppliers_Block_Catalog_Layer_View</layer_view>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer>Alw_Suppliers_Block_Catalogsearch_Layer</layer>
                </rewrite>
            </catalogsearch>
			<tax>
				<rewrite>
					<sales_order_tax>Alw_Suppliers_Block_Tax_Sales_Order_Tax</sales_order_tax>
				</rewrite>
			</tax>
			<bundle>
				<rewrite>
					<adminhtml_catalog_product_edit_tab_bundle_option_search_grid>Alw_Suppliers_Block_Bundle_Adminhtml_Catalog_Product_Edit_Tab_Bundle_Option_Search_Grid</adminhtml_catalog_product_edit_tab_bundle_option_search_grid>
				</rewrite>
			</bundle>
            <adminhtml>
                <rewrite>
					<page_header>Alw_Suppliers_Block_Adminhtml_Page_Header</page_header>
					<catalog_form_renderer_fieldset_element>Alw_Suppliers_Block_Adminhtml_Catalog_Form_Renderer_Fieldset_Element</catalog_form_renderer_fieldset_element>
                    <catalog_product_grid>Alw_Suppliers_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
					<catalog_product_edit_tab_related>Alw_Suppliers_Block_Adminhtml_Catalog_Product_Edit_Tab_Related</catalog_product_edit_tab_related>
					<catalog_product_edit_tab_crosssell>Alw_Suppliers_Block_Adminhtml_Catalog_Product_Edit_Tab_Crosssell</catalog_product_edit_tab_crosssell>
					<catalog_product_edit_tab_upsell>Alw_Suppliers_Block_Adminhtml_Catalog_Product_Edit_Tab_Upsell</catalog_product_edit_tab_upsell>
					<catalog_product_edit_tab_super_config_grid>Alw_Suppliers_Block_Adminhtml_Catalog_Product_Edit_Tab_Super_Config_Grid</catalog_product_edit_tab_super_config_grid>
					<system_account_edit_form>Alw_Suppliers_Block_Adminhtml_System_Account_Edit_Form</system_account_edit_form>
                    <system_account_edit>Alw_Suppliers_Block_Adminhtml_System_Account_Edit</system_account_edit>
					<sales_order_grid>Alw_Suppliers_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
					<sales_invoice_grid>Alw_Suppliers_Block_Adminhtml_Sales_Invoice_Grid</sales_invoice_grid>
					<sales_shipment_grid>Alw_Suppliers_Block_Adminhtml_Sales_Shipment_Grid</sales_shipment_grid>
					<sales_creditmemo_grid>Alw_Suppliers_Block_Adminhtml_Sales_Creditmemo_Grid</sales_creditmemo_grid>
					<sales_order_view>Alw_Suppliers_Block_Adminhtml_Sales_Order_View</sales_order_view> 
					<sales_order_view_tab_invoices>Alw_Suppliers_Block_Adminhtml_Sales_Order_View_Tab_Invoices</sales_order_view_tab_invoices>
					<sales_order_view_tab_shipments>Alw_Suppliers_Block_Adminhtml_Sales_Order_View_Tab_Shipments</sales_order_view_tab_shipments>
					<sales_order_view_tab_creditmemos>Alw_Suppliers_Block_Adminhtml_Sales_Order_View_Tab_Creditmemos</sales_order_view_tab_creditmemos> 
					<sales_totals>Alw_Suppliers_Block_Adminhtml_Sales_Totals</sales_totals>
					<sales_order_totals>Alw_Suppliers_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
					<sales_order_totals_tax>Alw_Suppliers_Block_Adminhtml_Sales_Order_Totals_Tax</sales_order_totals_tax>
					<dashboard_grids>Alw_Suppliers_Block_Adminhtml_Dashboard_Grids</dashboard_grids>
					<sales_order_creditmemo_create_adjustments>Alw_Suppliers_Block_Adminhtml_Sales_Order_Creditmemo_Create_Adjustments</sales_order_creditmemo_create_adjustments>     
				</rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <suppliers>
                <class>Alw_Suppliers_Helper</class>
            </suppliers>
        </helpers>
        <events>
             <catalog_product_collection_load_before>
                <observers>
                    <suppliers>
                        <type>singleton</type>
                        <class>suppliers/observer</class>
                        <method>onCatalogProductCollectionLoadBefore</method>
                    </suppliers>
                </observers>
            </catalog_product_collection_load_before>
            <catalog_product_save_after>
                <observers>
                    <suppliers>
                        <type>singleton</type>
                        <class>suppliers/observer</class>
                        <method>onCatalogProductSaveAfter</method>
                    </suppliers>
                </observers>
            </catalog_product_save_after>
            <catalog_product_prepare_save>
                <observers>
                    <suppliers>
                        <type>singleton</type>
                        <class>suppliers/observer</class>
                        <method>onCatalogProductPrepareSave</method>
                    </suppliers>
                </observers>
            </catalog_product_prepare_save>
			<sales_convert_quote_item_to_order_item>
		  		<observers>
		  			<suppliers>
                        <type>singleton</type>
                        <class>suppliers/observer</class>
						<method>addShipCombinationToOrderItemAttribute</method>	  			
		  			</suppliers>
		  		</observers>
		  	</sales_convert_quote_item_to_order_item>
			<sales_order_place_after>
				<observers>
                    <suppliers>
                        <type>singleton</type>
                        <class>suppliers/observer</class>
                        <method>saveSupplierOrderStatus</method>
                    </suppliers>
                </observers>
			</sales_order_place_after>
			<sales_order_save_after>
				<observers>
                    <suppliers>
                        <type>singleton</type>
                        <class>suppliers/observer</class>
                        <method>getSupplierOrderStatus</method>
                    </suppliers>
                </observers>
			</sales_order_save_after>
			<sales_order_invoice_save_after>
                <observers>
                    <suppliers>
                        <type>singleton</type>
                        <class>suppliers/observer</class>
                        <method>saveSupplierInInvoice</method>
                    </suppliers>
                </observers>
			</sales_order_invoice_save_after>
			<sales_order_shipment_save_after>
                <observers>
                    <suppliers>
                        <type>singleton</type>
                         <class>suppliers/observer</class>
                        <method>saveSupplierInShipment</method>
                    </suppliers>
                </observers>
            </sales_order_shipment_save_after>
			<sales_order_creditmemo_save_after>
                <observers>
                    <suppliers>
                        <type>singleton</type>
                         <class>suppliers/observer</class>
                        <method>saveSupplierInCreditmemo</method>
                    </suppliers>
                </observers>
            </sales_order_creditmemo_save_after>	
        </events>
         <template>
            <email>
                <supplier_registration_email module="suppliers">
                    <label>Supplier Registration Notification</label>
                    <file>suppliers/suppliersregistration.html</file>
                    <type>html</type>
                </supplier_registration_email>
                <admin_supplier_registration module="suppliers">
                    <label>Supplier Registration Notification To Admin</label>
                    <file>suppliers/adminemail.html</file>
                    <type>html</type>
                </admin_supplier_registration>
                <active_supplier module="suppliers">
                    <label>Active Supplier Notification</label>
                    <file>suppliers/suppliersactiveeemail.html</file>
                    <type>html</type>
                </active_supplier>
				<inactive_supplier module="suppliers">
                    <label>InActivation Supplier Notification</label>
                    <file>suppliers/suppliersinactiveeemail.html</file>
                    <type>html</type>
                </inactive_supplier>
                <supplier_password module="suppliers">
                    <label>Supplier Password Notification</label>
                    <file>suppliers/supplierpassword.html</file>
                    <type>html</type>
                </supplier_password>
				<newsuppliers_registration_admin module="suppliers">
                    <label>New Supplier Registration Notification</label>
                    <file>suppliers/newsuppliers_registration.html</file>
                    <type>html</type>
                </newsuppliers_registration_admin>
                <suppliers_user_name module="suppliers">
                    <label>Supplier User Name</label>
                    <file>suppliers/suppliersusername.html</file>
                    <type>html</type>
                </suppliers_user_name>
            </email>
        </template>
    </global>
	<default>
    <suppliers>
        <suppliers>
            <commissions>10</commissions>			
			<termsandcondition>Terms and conditions</termsandcondition>
        </suppliers>
    </suppliers>
	</default>
</config> 